aside {
  height: 100vh;
}

.side-panel {
  height: calc(100vh - 70px);
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

h4 {
  font-family: 'Cute Font', sans-serif;
  font-size: 20px;
}

.img-t {
  padding-top: 100%;
  width: 100%;
  border-radius: 10% 20%;
  position: relative;
}

#oli {
  background: url("/images/oli.png");
  background-size: cover;
  background-position: center;
}

#eli {
  background: url("/images/eli.png");
  background-size: cover;

}

#lucas {
  background: url("/images/lucas.png");
  background-size: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  /* width: 900px; */
}

.card:hover {
  transform: scale(1.05); /* Increase size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.link-card {
  width: 500px;
}

.detailed-card .card {
  max-width: 800px;
}

.img-s {
  padding-top: 56.25%; /* 16:9 aspect ratio, adjust as needed */
  width: 50%;
  border-radius: 10% 20%;
  position: relative;
  padding: 120px;
}


.detailed-card .card p {
  padding: 0 10px;
  text-align: center; /* Centering text, adjust as needed */
}

.detailed-card .card {
  margin: 60px auto;
  max-width: 900px;
  background: linear-gradient(125deg, #ffffff, #ffffff);
  border-radius: 64px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  border: 18px solid rgb(29, 28, 28);
  padding: 80px 70px;
}

.detailed-card ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.detailed-card li {
  margin: 10px 0;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-size: 22px;
  color: slateblue;
}

.detailed-card li::before {
  content: ''; /* Here you can use icons or emojis */
  position: absolute;
  left: 0;
  top: 0;
  list-style: none; /* Example placeholder */
  background-size: cover;
  width: 20px; /* Icon size */
  height: 20px; /* Icon size */
}

.detailed-card li:hover {
  transform: scale(1.1); /* Make the items pop a bit on hover */
}

/* Custom font for the detailed information */
.detailed-card h4, .detailed-card p, .detailed-card li {
  font-family: 'Josefin Sans', sans-serif;
}

/* Animation for the list */
.detailed-card li:hover {
  color: #00ff2a; /* Change color on hover */
  transition: color 0.2s ease-in-out;
}

.choice {
  font-family: 'Cute Font', sans-serif;;
}
